
/*==== BASE STYLES ====*/

@font-face {
	font-family: Gilroy;
	src: url('Fonts/Gilroy-Regular.otf');
}

@font-face {
	font-family: Gilroy;
	src: url('Fonts/Gilroy-Bold.otf');
	font-weight: bold;
}

.logo-text, h1, h2, h3, p, ul, li, a {
	font-family: "Gilroy", sans-serif;
}

body, p, a, h1, h2, h3, ul, li {
	margin: 0;
}

body, a {
	font-size: 16px;
}

.logo-text {
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 32px;
	color: #f8b133;
}

h3 {
	font-size: 32px;
	font-weight: 300;
	padding-top: 24px;
	padding-bottom: 24px;
	color: grey;
}

p {
	font-size: 32px;
	line-height: 44px;
	color: #f8b133;
	padding-top: 24px;
	padding-bottom: 24px;
	width: 80%;
	margin: 0 auto;
}

.bold {
	font-weight: 700;
}

/*==== PAGE STRUCTURE ====*/

.header {
	z-index: 10;
	position: fixed;
	width: 100%;
	padding-top: 48px;
}

.content {
	z-index: 1;
	margin: 0 auto;
	position: relative;
	max-width: 1200px;
	padding-top: 72px;
	padding-left: 48px;
	padding-right: 48px;
}

.spacer {
	height: 128px;
}

.divider {
	clear: both;
	height: 128px;
	width: 2px;
	margin: 0 auto;
	background-color: #f8b133;
	margin-top: 72px;
	margin-bottom: 62px;
}

/*==== FOOTER ====*/

.footer {
	z-index: 10;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 128px;
	padding-top: 72px;
	margin-top: 128px;
}

.social-networking {
	float: left;
	padding-left: 32px;
	width: 128px;
	height: 32px;
}

.info {
	float: right;
	padding-right: 32px;
	padding-top: 12px;
}

.social-networking img {
	width: 32px;
	height: 32px;
	padding: 12px;
}

/*==== LOGO ====*/

.logo {
	margin: 0 auto;
}

.logo, .logo img {
	width: 340px;
	height: 340px;
}

.logo-container, .nav {
	position: absolute;
	padding: 32px;
	width: 200px;
}

/*==== NAVIGATION ====*/

.nav {
	right: 0;
	text-align: right;
}

.nav a {
	line-height: 24px;
}

.nav .icon {
	display: none;
}

ul, li, a {
	text-decoration: none;
	list-style: none;
	margin: 0;
	color: grey;
}

/*==== WORK ====*/

.work-container {
	position: relative;
	width: 100%;
	height: 600px;
	padding-top: 72px;
	padding-bottom: 72px;
}

.right {
	right: 0;
}

.left {
	left: 0;
}

.work-image {
	z-index: 10;
	position: absolute;
	right: 0;
}

.work-image, .work-image img {
	width: 784px;
	height: 600px;
}

.work-label {
	z-index: 20;
	position: absolute;
	top: 300px;
	background-color: #f8b133;
	padding: 32px;
	width: 40%;
}

.work-label,
.work-label h3, 
.work-label p, 
.work-label a {
	color: white;
}

.clients {
	overflow: auto;
}

.client-logo {
	width: 256px;
	height: 72px;
	margin: 24px;
	background-color: grey;
	float: left;
}

/*==== SERVICES ====*/

.service-description p {
	font-size: 24px;
	line-height: 32px;
	padding-top: 72px;
	padding-bottom: 72px;
	color: grey;
}

/*==== PROJECT ====*/

.section-container {
	clear: both;
	padding-top: 48px;
	padding-bottom: 48px;
	overflow: auto;
}

.full {
	width: 100%;
}

.half {
	width: 40%;	
}

.quarter {
	width: 24%;
}

.center {
	display: block;
	margin: 0 auto;
}

/*==== ABOUT ====*/

.profile-outer {
	width: 80%;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.profile-container {
	position: relative;
	width: 42%;
	display: inline-block;
	height: 640px;
	float: left;
	margin: 24px;
}

.profile {
	z-index: 1;
	position: absolute;
	width: 400px;
}

.profile-label {
	z-index: 10;
	position: absolute;
	top: 500px;
	padding: 24px;
	width: auto;
	background-color: #f8b133;
	color: white;
}


/*==== RESPONSIVE ====*/

@media screen and (max-width: 900px) {

	.work-label {
		width: auto;
		top: 500px;
	}

	.work-container {
		overflow: hidden;
	}

	.footer {
		position: relative;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 128px;
		padding-top: 72px;
		margin-top: 128px;
	}
} 

@media screen and (max-width: 640px) {

	.header {
		padding: 0;
	}

	.nav a {
		font-size: 40px;
		line-height: 64px;
	}

	.nav a {
		display: none;
		
	}

	.nav .icon {
		display: block;
		transition: 1s;
	}

	.responsive a {
		display: block;
		color: white;
	}

	.responsive {
		background-color: #f8b133;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 10;
		transition: 1s;
	}

	.logo-text {
		font-size: 56px;
	}

	.work-label a {
		font-size: 24px;
	}

	.half {
		width: 100%;
	}

	.quarter {
		width: 100%;
	}

	p {
		width: 100%;
	}

	.profile, .profile-container {
		width: 100%;
	}

	.profile-label {
		top: 300px;
	}

	.profile-container {
		height: 400px;
	}

	.footer a {
		font-size: 24px;
	}
}

@media screen and (max-width: 480px) {

	.content {
		padding-left:24px;
		padding-right: 24px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 24px;
		line-height: 36px;
	}
} 